:root {
    --desat-red: hsl(0, 36%, 70%);
    --desat-red-rgb: 206, 151, 151;
    --gray-red: hsl(0, 6%, 24%);
    --gray-red-rgb: 65, 58, 58;
    --opa: 0.25;
    --opa1: 0.75;
    --opa2: 0.95;
    --soft-red: hsl(0, 93%, 68%);
    --soft-red-rgb: 249, 98, 98;    
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

body, html {
    height: 100%;
}

h1  {
    letter-spacing: 8px;
    line-height: 122%; 
    margin: 3.4px 0;
    text-align: center;   
    text-transform: uppercase;
}    

p {
    color: var(--desat-red);
    line-height: 142%;
    margin: auto;
    text-align: center;
    width: 90%;   
}

.brand {
    margin: 35px 0 35px 35px;
    width: 25%;   
}

.banner {
    display: flex;
    flex-direction: row;
}

img {
   flex: 1;
}

.text-email {
    margin-bottom: 70px;
}

#content {
    font-size: calc(0.5em + 3vw);
    margin: 4em 0 2em 0;
}

#we {
    color: var(--desat-red);
    font-weight: 300;
}

#co {
    color: var(--gray-red);
    font-weight: 600;
}

#so {
    color: var(--gray-red);
    font-weight: 600;
    margin-bottom: 18px;
}

.input {
    border-radius: 60px;
    margin: auto auto 20px auto;
    width: 80%;   
}

form {
    /* This bit draws the box around it */
    border:1px solid;
    border-color: rgba(var(--gray-red-rgb),var(--opa));
    border-right: none;
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;    
}
  
input {
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
    /* Tell the input to use all the available space */
    flex-grow:2;  
}
  
#email {
    margin: 18px auto 18px 25px;
    font-size: 15px;
}

::placeholder {
    color: rgba(var(--desat-red-rgb),var(--opa1));
}

input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}
  
button {
    /* Just a little styling to make it pretty */
    background: linear-gradient(
        to right,
        hsl(0, 80%, 86%) 25%,
        hsl(0, 74%, 74%) 100%
        );
    border: none;
    border-radius: 60px 60px 60px 60px; 
    height: 55px;   
    width: 78px;    
}

button img {
    height: 24px;
}

#error {
    height: 22px;
    color: rgb(255, 0, 0);
}

@media (min-width: 768px) {

    .brand {
        grid-area: header;
        padding-top: 30px;
        margin: 35px 0 35px 0;
    }

    .banner {
        grid-area: img;
        height: 100vh;
        max-width: 100%;
        width: auto;
    }

    #content {
        font-size: calc(0.5em + 1.6vw);
        margin: 1.5em 0 2em 0;
    }

    img {
        /* height: auto; */
        object-fit: cover;
        object-position: left;
    }

    h1  {
        letter-spacing: 16px;
        
    }

    #content p {
        font-size: calc(0.4em + 0.5vw);
        width: 75%;
    }

    .text-email {
        grid-area: main;
    }

    .container {
        display: grid;
        grid-template-columns: 52% 48%;
        grid-template-areas: 
            "header img"
            "main img"
    }

    .container {
        padding: 0 0 0 150px;
    }
    
    .text-left {
        text-align: left;
    }

    .text-email {
        width: 95%;
    }

    p {
        color: var(--desat-red);
        margin: 0;  
    }

    ::placeholder {
        color: rgba(var(--desat-red-rgb),var(--opa2));
    }

    .input {
        margin: auto auto 0 0; 
        font-weight: 700;
        width: 70%;
    }

    button { 
        height: auto;  
        width: 108px;    
    }

    footer {
        display: none;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

