:root {
    --desat-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --soft-red-rgb: 249, 98, 98;
    --gray-red: hsl(0, 6%, 24%);
    --opa: 0.5;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

body, html {
    height: 100%;
}


h1  {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    margin: 3.4px 0;
    line-height: 122%;
}    

p {
    text-align: center;
    color: var(--desat-red);
    width: 85%;
    margin: auto;
    line-height: 142%;
}

.brand {
    margin: 35px 0 35px 35px;
    width: 25%;   
}

.banner {
    display: flex;
    flex-direction: row;
}

img {
   flex: 1;
}

#content {
    margin: 4em 0;
    font-size: calc(0.5em + 3vw)
}

#we {
    color: var(--desat-red);
    font-weight: 300;
}

#co {
    color: var(--gray-red);
    font-weight: 600;
}

#so {
    color: var(--gray-red);
    font-weight: 600;
    margin-bottom: 18px;
}

.input {
    width: 80%;
    margin: auto auto 20px auto;
    border-radius: 60px;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    border:1px solid grey;
    border-right: none;
}
  
input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
}
  
#email {
    color: rgba(var(--soft-red-rgb),0.22);
    margin: 18px auto 18px 25px;
}

input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}
  
button {
    /* Just a little styling to make it pretty */
    background: linear-gradient(
        to right,
        hsl(0, 80%, 86%) 25%,
        hsl(0, 74%, 74%) 100%
        );
    border: none;
    width: 70px;
    height: 55px; 
    border-radius: 60px 60px 60px 60px; 
    transform: translate(226px, -75px);
   
}

button img {
    height: 24px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }